
MyLine/\.idea/compiler\.xml

MyLine/\.idea/gradle\.xml

MyLine/\.idea/misc\.xml

MyLine/\.idea/modules\.xml

MyLine/\.idea/runConfigurations\.xml

MyLine/build\.gradle

MyLine/gradle/wrapper/gradle-wrapper\.properties

\.idea/misc\.xml

\.idea/workspace\.xml

MyLine/\.idea/copyright/profiles_settings\.xml

MyLine/\.idea/caches/build_file_checksums\.ser

MyLine/app/build\.gradle
